{% macro entryDate(entry) %}
	<p>
		<span class="dateday">{{ entry.postDate.format('j') }}</span>
		<span class="datemonth">{{ entry.postDate.format('M') }}</span>
		<span class="dateyear">{{ entry.postDate.format('Y') }}</span>
	</p>
{% endmacro %}


{% macro image(imagefield) %}
    {% set image = imagefield.first() %}

    <figure class="headerimage">
        <img src="{{ image.url }}" width="100%;" alt="{{ image.title }}" title="{{ image.title }}">
        {% if image.caption %}<figcaption>{{ image.caption }}</figcaption>{% endif %}
    </figure>
{% endmacro %}


{% macro smallImage(imagefield) %}
    {% set image = imagefield.first() %}
    <img src="{{ image.url }}" width="100%;" alt="{{ image.title }}" title="{{ image.title }}">
{% endmacro %}


{% macro authorImage(author) %}
    <img class='authorImage' src="{{ author.photoUrl(100) }}" alt="{{ author.name }}'s profile picture" title="{{ author.name }}'s profile picture">
{% endmacro %}


{% macro articleList(entries) %}
    {% for entry in entries %}
    <li class="{% if loop.first %}first col-md-12 col-sm-12{% else %}dual col-md-6 col-sm-12{% endif %}">
        <div>
            {{ _self.image(entry.headerimage) }}
            <div class="content">
                <h2><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></h2>
                <div class="subtext">by {{ entry.writer.first().name }}</div>
                <div class="description">{{ entry.description }}</div>
            </div>
        </div>
    </li>
    {% endfor %}
{% endmacro %}


{% macro outputMatrix(matrixfield) %}
    {% for block in matrixfield %}

        {% if block.type == "mainSubhead" %}

            <{{ block.mainSubheadType }}>{{ block.mainSubheadContent }}</{{ block.mainSubheadType }}>


        {% elseif block.type == "mainBodyCopy" %}

            {{ block.bodyCopyRichText }}


        {% elseif block.type == "mainImage" %}

            {% set image = block.imageFile.first() %}

            {% if block.imagePosition == 'left' %}
                {% set figureMargins = '0px 15px 10px 0px' %}
            {% elseif block.imagePosition == 'right' %}
                {% set figureMargins = '0px 0px 10px 15px' %}
            {% elseif block.imagePosition == 'none' %}
                {% set figureMargins = '0px 0px 10px 0px' %}

            {% endif %}

            <!-- we have to do this unwieldy if statement because some stuff doesn't work right if you just set transformtype = block.imageWidth -->
            {% if block.imageWidth == 'imageQuarter' %}
                {% set transformtype = 'imageQuarter' %}
                {% set figureWidth = '25%' %}
            {% elseif block.imageWidth == 'imageThird' %}
                {% set transformtype = 'imageThird' %}
                {% set figureWidth = '33%' %}
            {% elseif block.imageWidth == 'imageHalf' %}
                {% set transformtype = 'imageHalf' %}
                {% set figureWidth = '50%' %}
            {% elseif block.imageWidth == 'imageFull' %}
                {% set transformtype = 'imageFull' %}
                {% set figureWidth = '100%' %}
            {% endif %}

            {% if image %}

                <figure class="{{ block.imagePosition }} {{ block.imageWidth }}" style="margin: {{ figureMargins }}; outline: 1px solid #cccccc; float: {{ block.imagePosition }}; width: {{ figureWidth }};">
                    <img src="{{ image.getUrl(transformtype) }}" width="100%;" alt="{{ image.title }}">
                    {% if block.imageCaption != '' %}
                        <caption><div  style="padding: 0 10px !important;">{{ block.imageCaption }}</div></caption>
                    {% endif %}
                </figure>

            {% endif %}


        {% elseif block.type == "mainPullquote" %}

            <blockquote class="pullquote" style="background-color: #eeeeee; margin: 0 0 10px 0; padding: 0 15px; float: left; width: 98%; clear: both;">
            <span style="float: left; font-size: 6em; color: #777777; width: 0.4em; position: relative; top: -7px;">&ldquo;</span>
            {{ block.pullquoteContent }}
            </blockquote>


        {% endif %}

    {% endfor %}
{% endmacro %}
