{% extends "_base" %}
{% set title = entry.title %}
{% set description = entry.description %}
{% set writer = entry.writer.first %}
{% set author = entry.writer.first %}
{% set user = entry.writer.first %}

{% block main_content %}

	<article>
		<div class="container-fluid">

			{% if entry.articleSection.first().title %}
				<div id="article-category"><a href='{{ entry.articleSection.first().url }}'>{{ entry.articleSection.first().title }}</a><hr /></div>
			{% endif %}

			<header>
				<h1>{{ entry.title }}</h1>
				{{ macros.contentWarnings(entry) }}
			</header>

			<div class="subtext">Updated {{ macros.formatDateTime(entry.dateUpdated) }}</div>

		    {{ macros.image(entry.headerImage) }}

			<div class="article-info">
				<div>{% include 'partials/_user_card' %}</div>

				<div class="share-buttons">
					<div class="share">SHARE</div>
					<div class="share-row">
						<div class="share-row-inner">
							<a href="https://twitter.com/intent/tweet?text={{ title|url_encode }}&amp;url={{ url(craft.request.path)|url_encode }}&amp;via=harlotmedia" title="Share on Twitter"><i class='fa fa-twitter'></i></a>
							<a href="https://www.tumblr.com/share/link?posttype=link&amp;title={{ title }}&amp;content={{ url(craft.request.path)|url_encode }}&amp;caption={{ description|url_encode }}&amp;canonicalUrl={{ url(craft.request.path)|url_encode }}" title="Share on Tumblr"><i class='fa fa-tumblr'></i></a>
						</div>
					</div>
					<br />
					<div class="share-row">
						<div class="share-row-inner">
							<a href="#" onclick="FB.ui({method: 'share',href: '{{ entry.url }}',}, function(response){});"><i class='fa fa-facebook'></i></a>
							<a href="#" onclick="gPlus('{{ entry.url }}');" ><i class='fa fa-google-plus'></i></a>
						</div>
					</div>
				</div>

			</div>

			<div class="article-content">
				{{ macros.outputMatrix(entry.articleMain) }}
			</div>

			{% if entry.subjectTags | length %}
				<div class="related">
					<span class="related-header">Related Topics:</span>
					{% for tag in entry.subjectTags %}
						{{ macros.showTag(tag) }}
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<cite class="writer">
			<div class="name"><a href="{{ siteUrl }}authors/{{ writer.username|url_encode }}">{{ writer.name }}</a></div>
			<div class="text">{{ writer.userBio }}</div>
		</cite>

		<div id="disqus_thread"></div>
		<script>
		    var disqus_config = function () {
		        this.page.url = '{{ entry.url }}';
		        this.page.identifier = 'blog-{{ entry.id }}';
		    };
		    (function() {
		        var d = document, s = d.createElement('script');
		        s.src = '//harlotmedia.disqus.com/embed.js';
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</article>

{% endblock %}
