{% requireLogin %}
{% set entries = craft.entries.section('reports').limit(null) %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/_assets/css/assets.css" />
</head>
<body>
<table class="table table-striped">
    <thead>
        <th>Report</th>
        <th>Date / Time</th>
        <th>Platform</th>
        <th>Usernames Involved</th>
        <th>Screenshots</th>
    </thead>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.title }}</td>
            <td>{{ entry.dateTime }}</td>
            <td>{{ entry.platform }}</td>
            <td>{{ entry.usernamesInvolved }}</td>
            <td>{% for image in entry.screenshots %}<img src="{{ image.url }}" />{% endfor %}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
