{% extends '_base' %}
{% set entry = craft.entries.section("contentWarnings").first() %}
{% set tags = craft.tags.group('warnings').relatedTo(craft.entries.section('articles')) %}

{% block main_content %}
    <section id='tag-list'>
        <h1 class='headingUnderline'>{{ entry.title }}</h1>
        {{ macros.outputMatrix(entry.articleMain) }}
        <ul>
            {% for tag in tags %}
                <li>
                    <div id="CW-{{ tag.title|trim }}" class="content-warning-shortname">{{ tag.short }}</div>
                    <strong>{{ tag.title }}</strong><span> \\ </span>{{ tag.info }}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
