{% set entries = craft.entries.section('advertisements').type('boxAds').order('RAND()') %}

{% if entries|length > 0 %}

<section class="paid-placement-box">
    <header>Advertisements</header>
    <div class="holder">
    {% for entry in entries %}
        <div class="entry">
            <div class="image">
                <a href="{{ entry.adLink }}"><img alt="{{ entry.adText }}" title="{{ entry.adText }}" src="{{ entry.adPicture.first.url }}" width="150px" height="150px"></a>
            </div>
            <div class="text">
                <a href="{{ entry.adLink }}"><span>{{ entry.adText }}</span></a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{% endif %}
