{# general #}
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@harlotmedia" />
<meta name="fb:app_id" property="fb:app_id" content="190589791298519" />
<meta name="fb:admins" property="fb:admins" content="100008212237043" /> {# <- lynn #}
<meta name="google-site-verification" content="VPb-fmDxW5doFrZ-Xq6m2Bzy5HbP5-rCoPgJxa2nSnI" />

{# title #}
<meta property="og:site_name" content="Harlot Media" />
<title>{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}</title>
<meta name="og:title" property="og:title" content="{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}" />
<meta name="twitter:title" content="{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}" />

{# description #}
<meta name="description" content="{% if description is defined %}{{ description }}{% else %}The Dirtiest Well-known Secret{% endif %}">
<meta name="og:description" property="og:description" content="{% if description is defined %}{{ description }}{% else %}The Dirtiest Well-known Secret{% endif %}" />
<meta name="twitter:description" content="{% if description is defined %}{{ description }}{% else %}The Dirtiest Well-known Secret{% endif %}" />

{# article specific #}
{% if entry is defined %}
    <meta name="og:url" property="og:type" content="article" />
    <meta name="og:url" property="og:url" content="{{ entry.url }}" />
    <link rel="canonical" href="{{ entry.url }}" />
    {% if entry.headerImage|length > 0 %}
        {% set writer = entry.writer.first() %}
        <meta name="author" content="{{ writer.name }}" />
        <meta name="og:image" property="og:image" content="{{ entry.headerImage.first().url }}" />
        <meta name="twitter:image" content="{{ entry.headerImage.first().url }}" />
        <meta name="article:published_time" property="article:published_time" content="{{ entry.postDate.iso8601 }}" />
        <meta name="article:modified_time" property="article:modified_time" content="{{ entry.dateUpdated.iso8601 }}" />
        {% for tag in entry.subjectTags %}
            <meta name="article:tag" property="article:tag" content="{{ tag }}" />
        {% endfor %}
        {# author attribution #}
            {% for link in writer.links %}
                {% if link.icon.class == 'fa-facebook-square' %}
                    <meta property="article:author" content="{{ link.siteUrl }}" />
                {% endif %}
                {% if link.icon.class == 'fa-twitter-square' %}
                    <meta name="twitter:creator" property="twitter:creator" content="@{{ link.siteUrl|split('/')[3] }}" />
                {% endif %}
            {% endfor %}
    {% else %}
        <meta name="og:image" property="og:image" content="http://s3-us-west-2.amazonaws.com/harlot-media/logo.png" />
        <meta name="twitter:image" content="http://s3-us-west-2.amazonaws.com/harlot-media/logo.png" />
    {% endif %}
{% else %}
    <meta property="og:type" content="website" />
    <meta name="og:url"  property="og:url" content="http://harlot.media" />
    <meta name="og:image" property="og:image" content="http://s3-us-west-2.amazonaws.com/harlot-media/logo.png" />
    <meta name="twitter:image" content="http://s3-us-west-2.amazonaws.com/harlot-media/logo.png" />
    <link rel="canonical" href="{{ siteUrl }}" />
{% endif %}

{# resources #}
<link rel="home" href="{{ siteUrl }}" />
<link rel="icon" href="http://s3-us-west-2.amazonaws.com/harlot-media/favicon.png" />
<link rel="stylesheet" href="/_assets/css/assets.css" />
<link rel="stylesheet" href="{{ craft.bust.er('/_assets/css/main.css') }}" />
