{# general #}
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@harlotmedia" />
<meta name="fb:app_id" property="fb:app_id" content="190589791298519" />
<meta name="google-site-verification" content="VPb-fmDxW5doFrZ-Xq6m2Bzy5HbP5-rCoPgJxa2nSnI" />

{# title #}
<meta property="og:site_name" content="Harlot Media" />
<title>{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}</title>
<meta name="og:title" property="og:title" content="{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}" />
<meta name="twitter:title" content="{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}" />

{# description #}
<meta name="description" content="{% if description is defined %}{{ description }}{% else %}The Dirtiest Well-known Secret{% endif %}">
<meta name="og:description" property="og:description" content="{% if description is defined %}{{ description }}{% else %}The Dirtiest Well-known Secret{% endif %}" />
<meta name="twitter:description" content="{% if description is defined %}{{ description }}{% else %}The Dirtiest Well-known Secret{% endif %}" />

{# article specific #}
{% if entry is defined %}
    <meta name="og:url" property="og:type" content="article" />
    <meta name="og:url" property="og:url" content="{{ entry.url }}" />
    <link rel="canonical" href="{{ entry.url }}" />
    {% if entry.headerImage|length > 0 %}
        <meta name="og:image" property="og:image" content="{{ entry.headerImage.first().url }}" />
        <meta name="twitter:image" content="{{ entry.headerImage.first().url }}" />
    {% else %}
        <meta name="og:image" property="og:image" content="http://harlot.media/uploads/assets/logo.png" />
        <meta name="twitter:image" content="http://harlot.media/uploads/assets/logo.png" />
    {% endif %}
{% else %}
    <meta property="og:type" content="website" />
    <meta name="og:url"  property="og:url" content="http://harlot.media" />
    <meta name="og:image" property="og:image" content="http://harlot.media/uploads/assets/logo.png" />
    <meta name="twitter:image" content="http://harlot.media/uploads/assets/logo.png" />
    <link rel="canonical" href="{{ siteUrl }}" />
{% endif %}

{# resources #}
<link rel="home" href="{{ siteUrl }}" />
<link rel="icon" href="/uploads/assets/favicon.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ craft.bust.er('/_assets/css/main.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="{{ craft.bust.er('/_assets/js/main.js') }}"></script>
