{% import "_macros" as macros %}

<div class="user-card">
    <div class="picture">
        <a href="{{ siteUrl }}authors/{{ user.username|url_encode }}">
            {{ macros.authorImage(user, 200) }}
        </a>
    </div>
        <div class="name"><a href="/authors/{{ user.username|url_encode }}"><span>{{ user.name }}</span></a></div>
        <div class="title"><span style='font-size: 0.9em;'>{{ user.userTitle }}</span>&nbsp;</div>
</div>
