{% extends "_base" %}
{% set entries =  homepageArticles.articles %}
{% set tags = homepageTags.tagList %}

{% block main_content %}

    <section>
        <ul class="articleList row">
            {{ macros.articleItem(entries[0], true) }}
            {% if entries|length >= 2 %}{{ macros.articleItem(entries[1]) }}{% endif %}
            {% if entries|length >= 3 %}{{ macros.articleItem(entries[2]) }}{% endif %}
        </ul>
    </section>

    {% if tags|length > 0 %}
    <section class='articlesByTag'>
        <div class='heading'><span><strong>MORE TOPICS</strong></span></div>
        <ul class='content'>
        {% for tag in tags %}
            <li class='tag'>{{ macros.showTag(tag) }}</li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if entries|length >= 4 %}
    <section>
        <ul class="articleList row">
            {% for entry in entries[3:] %}
                {{ macros.articleItem(entry) }}
            {% endfor %}
        </ul>
    </section>
    {% endif %}

{% endblock %}
