{% header "Content-Type: application/xml" %}
{% set rss = craft.entries.section('articles') %}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>Harlot Media</title>
        <link>http://harlot.media/</link>
        <description>The Dirtiest Well-known Secret</description>
        <language>en-us</language>
        <pubDate>{{ now.rss }}</pubDate>
        <lastBuildDate>{{ now.rss }}</lastBuildDate>
        <image>
            <url>http://s3-us-west-2.amazonaws.com/harlot-media/favicon.png</url>
            <title>Harlot Media</title>
            <link>http://harlot.media/</link>
        </image>
        {% for item in rss %}
            {% if item.writer.first() %}
                <item>
                    <title>{{ item.title }}</title>
                    <link>{{ item.url }}</link>
                    <pubDate>{{ item.postDate.rss }}</pubDate>
                    <dc:creator>{{ item.writer.first().name }}</dc:creator>
                    <guid>{{ item.url }}</guid>
                    <description>{{ item.description }}</description>
                </item>
            {% endif %}
        {% endfor %}
    </channel>
</rss>
